<!-- ------------------------------------------------------------------
[Master Stylesheet /shared/control/usuarios-search/dialog-usuarios/dialog-usuarios-listar.component.html]

Proyecto:	arca Core
Version:	1.0
Fecha de creación:	07/2019
Asignado a:
Desarrollo:
Centro: Hospital San Vicente de Paúl
Cliente: Caja Costarricense de Seguro Social
------------------------------------------------------------------- -->

<div fullscreen fxLayout="column" class="ar-dialog-main">
	<div fxFlex fxLayout="column" layout>
		<!-- Toolbar principal -->
		<div class="ar-dialog-toolbar ar-text-dark" fxLayout="row" fxLayoutAlign="start center">
			<!-- <span class="ar-padding-left-md">Seleccionar usuario</span> -->
			<span fxFlex></span>
			<button mat-icon-button class="ar-text-white" mat-dialog-close>
				<mat-icon>close</mat-icon>
			</button>
		</div>
		<!-- Inicio del listado de usuarios -->
		<perfect-scrollbar fxFlex class="ar-content">
			<div fxLayoutAlign="center">       
				<div fxLayout="column" fxFlex="95" fxFlex.xs="98">
					<div fxLayout="column">
						<!-- Div con la información de cada empleado -->
						<div class="ar-dialog-expansion-header" fxLayoutAlign="start center" *ngFor="let item of listaUsuarios" (click)="dialogRef.close(item)">
							<div fxHide.xs fxHide.sm class="ar-margin-right-sm">
								<i class="mdi mdi-account-circle ar-dialog-icon-list"></i>
							</div>
							<div fxLayout="column">
								<span class="ar-dialog-text-header">{{ item.persona?.identificacion }}</span>
								<span class="ar-dialog-text-header">{{ item.persona?.apellido1 }} {{ item.persona?.apellido2 }} {{ item.persona?.nombre }}</span>
							</div>
							<span fxFlex></span>
							<mat-icon aria-label="Abrir o cerrar información" class="ar-text-primary-white">navigate_next</mat-icon>
						</div>
					</div>
				</div>
			</div>         
		</perfect-scrollbar>
	</div>
</div>
