<html fullscreen fxLayoutAlign="center">
<div fxLayout="row" fxLayoutAlign="center center">
	<div fxLayout="column" fxLayoutAlign="center center">
		<img class="ar-margin-top-sm" [src]="UrlWebkit + '/images/not-found/arca_404.svg' | safeURL" width="400">
		<span class="mat-subheading-2 ar-text-primary-white">
			Lo sentimos, haz llegado aquí por error.
		</span>
		<button mat-button mat-raised-button color="accent" (click)="IrPaginaAnterior()">Regresar</button>
	</div>
</div>

</html>
