<!-- ========================================================================
  [HTML /materiales-servicios-modificar-editar.component.html]

  Proyecto: 			Bitzú RPM
  Version:  			1.0
  Fecha de creación:  	07/2021
  Asignado a: 			Equipo Bitzú RPM
  Desarrollo: 			Tecnologías de Información y Comunicaciones
  Unidad: 				Plan de Innovación
  Cliente: 				Caja Costarricense de Seguro Social
======================================================================== -->

<html fullscreen class="{{ temaApp }}">
    <div fxFlex fxLayout="column" class="ar-background">
        <!-- Barra de progreso *ngIf="esCargando" -->
        <div class="ar-progressbar">
            <mat-progress-bar mode="indeterminate" *ngIf="esCargando"></mat-progress-bar>
        </div>
        <!-- Toolbar de acciones estilo formulario -->
        <mat-toolbar class="ar-toolbar mat-elevation-z0">
            <button mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
            <span fxFlex></span>
            <button mat-button *ngIf="mostrarSig" (click)="validarInfo()">
                <i class="material-icons">arrow_forward</i>
                Siguiente
            </button>
            <button mat-button *ngIf="mostrarAnt" (click)="atras()">
                <i class="material-icons">arrow_back</i>
                Anterior
            </button>
            <button mat-button color="accent" *ngIf="guardarInfo">
                <i class="material-icons">save</i>
                Guardar
            </button>
        </mat-toolbar>
        <!-- Listado de Materiales-->
        <perfect-scrollbar fxFlex class="ar-content" fxLayout="row" fxLayoutAlign="center start">
            <div fxLayout="column" fxFlex="55" fxFlex.xs="95" fxFlex.sm="95" fxFlex.md="80">
                <div fxLayout="column" fxFlex class="ar-margin-bottom-lg ar-margin-top-sm">
                    <bitzu-info-general *ngIf="mostrarSig" [@apps]="'fadeIn'"> </bitzu-info-general>
                    <!-- Formulario de modificar material -->
                    <ng-container *ngIf="guardarInfo">
                        <div fxFlex fxLayout="column" [@apps]="'fadeIn'">
                            <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                                <!-- Avatar circular -->
                                <div class="ar-avatar">
                                    <p class="ar-avatar-sm">
                                        <span>B</span>
                                    </p>
                                </div>
                                <!-- Identificador del Material -->
                                <div fxLayout="column" class="ar-margin-left-xs">
                                    <span class="ar-color-54">8889999</span>
                                    <span class="ar-color-87">Bolsas quirúrgicas</span>
                                </div>
                            </div>
                            <div
                                class="
                                    ar-color-54 ar-margin-bottom-sm ar-core-text ar-margin-top-xs
                                "
                            >
                                Modifique las características del material seleccionado.
                            </div>
                            <div fxLayout.xs="column" fxLayout="row" fxFlex="100" fxFlex.xs="100">
                                <!-- Descripción del material o servicio -->
                                <mat-form-field fxFlex appearance="outline">
                                    <mat-label>Descripción del material o servicio</mat-label>
                                    <input
                                        matInput
                                        placeholder="Descripción del material o servicio"
                                        class="ar-color-87"
                                        value="Descripción"
                                        disabled
                                    />
                                </mat-form-field>

                                <!-- Detalle de la modificación -->
                                <mat-form-field
                                    fxFlex
                                    appearance="outline"
                                    ngClass="ar-margin-left-xs"
                                    ngClass.xs="ar-margin-left-none"
                                >
                                    <mat-label>Detalle de la modificación</mat-label>
                                    <input
                                        matInput
                                        placeholder="Detalle de la modificación"
                                        class="ar-color-87"
                                        value="Descripción"
                                        size="20"
                                        maxlength="30"
                                    />
                                </mat-form-field>
                            </div>
                            <!-- Descripción propuesta -->
                            <mat-form-field appearance="outline">
                                <mat-label>Descripción de la propuesta</mat-label>
                                <textarea
                                    class="ar-color-87"
                                    matInput
                                    placeholder="Descripción de la propuesta"
                                    cdkTextareaAutosize
                                    cdkAutosizeMinRows="5"
                                ></textarea>
                                <input matInput class="ar-color-87" />
                            </mat-form-field>
                            <!-- Justificación de la modificación -->
                            <mat-form-field appearance="outline">
                                <mat-label>Justificación de la modificación</mat-label>
                                <textarea
                                    class="ar-color-87"
                                    matInput
                                    placeholder="Justificación de la modificación"
                                    cdkTextareaAutosize
                                    cdkAutosizeMinRows="5"
                                ></textarea>
                                <input matInput class="ar-color-87" />
                            </mat-form-field>
                        </div>
                    </ng-container>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</html>
