@import "styles.scss";
/* -----------------------------------------------------------------------------------------------
[Master Stylesheet /admin/catalogos/jobs/jobs-editar.component.scss]

Proyecto:	arca Core
Version:	1.1
Fecha de creación:	09/2017
Asignado a:	Joseph Arias (jariass@ccss.sa.cr)(diseño)
Desarrollo: Dagoberto Gómez, Centro de Gestión Informática
Centro: Hospital San Vicente de Paúl
Cliente: Caja Costarricense de Seguro Social

Rediseño: 01/2018 Adrian Fallas (afallasp@ccss.sa.cr) (diseño)
Rediseño: 09/2018 Joseph Arias (jariass@ccss.sa.cr)(diseño)
----------------------------------------------------------------------------------------------- */

/* Estilos de la vista general */

.ar-page {
  padding-top: 0px;
  height: 100%;
}

/* Estilos header panel de expansion */

mat-expansion-panel-header {
  min-height: 64px !important;
}
