/* ----------------------------------------------------------------------------
[Master Stylesheet /catalogos/catalogos-listar.component.scss]

Proyecto: arca Core
Version:  1.1
Fecha de creación:  09/2017
Fecha de modificación: 12/2017
Asignado a: Joseph Arias (jariass@ccss.sa.cr)(diseño); Adrian Fallas (afallasp@ccss.sa.cr) (diseño)
Desarrollo: Centro de Gestión Informática
Centro: Hospital San Vicente de Paúl
Cliente: Caja Costarricense de Seguro Social

Modificación: 09/2018 Joseph Arias (jariass@ccss.sa.cr)(diseño)
---------------------------------------------------------------------------- */

@import "styles.scss";

/* Estilos generales de la vista */

.ar-page {
  height: 100%;
}
