<!-- ***************************************************************
[Master Stylesheet /ingredientes/SIGES]

Proyecto:	arca Core
Version:	1.1
Fecha de creación:	04/2018
Asignado a:	Adrián Fallas. afallasp@ccss.sa.cr (diseño)
Desarrollo: Centro de Gestión Informática
Centro: Hospital San Vicente de Paúl
Cliente:	Caja Costarricense de Seguro Social

Modificación: 09/2018 Adrián Fallas (afallasp@ccss.sa.cr) (diseño)

*************************************************************** -->
<div class="ar-buscar-page" fullscreen fxLayout="column">
	<div fxFlex fxLayout="column" layout>
		<!-- Toolbar de acciones estilo formulario -->
		<div class="ar-progressbar">
			<mat-progress-bar mode="indeterminate" *ngIf="esCargando"></mat-progress-bar>
		</div>
		<mat-toolbar style="z-index:99;" class="ar-buscar-toolbar">
			<button mat-icon-button mat-dialog-close class="ar-margin-left-xs">
				<mat-icon class="ar-text-secondary-white">close</mat-icon>
			</button>
			<span fxFlex></span>
			<button mat-stroked-button color="primary" *ngIf="itemSeleccionado.length > 0" [mat-dialog-close]="itemSeleccionado">Listo</button>
		</mat-toolbar>
		<!-- Toolbar de busqueda -->
		<form [formGroup]="frmArticulos" novalidate>
			<mat-toolbar class="ar-search-bar" style="z-index:99;">
				<div ngClass="ar-contratos-search" ngClass.xs="ar-contratos-search ar-margin-top-sm" fxFlex="55" fxFlex.sm="80"
				 fxFlex.md="65" fxFlex.xs="100">
					<div class="ar-search-bar-icon" fxHide.xs>
						<i class="mdi mdi-magnify"></i>
					</div>
					<div fxFlex fxLayout="row" fxLayoutAlign="start center">
						<input class="ar-buscar-input-search" maxlength="200" formControlName="txtFiltro" placeholder="Buscar artículos"
						 (keyup.enter)="Buscar()">
						<span fxFlex></span>
						<div class="ar-search-bar-menu" matTooltip="Limpiar" (click)="btnClear()" fxLayoutAlign="center">
							<i class="mdi mdi-close"></i>
						</div>
					</div>
					<div class="ar-search-bar-menu ar-orange" matTooltip="Filtrar para buscar" mdTooltipHideDelay="1000"
					 matTooltipPosition="right" mouseenter="tooltip.hide()" (click)="mostrarFiltroTexto=false; $event.stopPropagation();"
					 fxLayoutAlign="center">
						<!-- <span class="ar-search-bar-menu-letter">N</span> -->
						<i class="mdi mdi-menu-up" [hidden]="mostrarFiltroTexto"></i>
						<i class="mdi mdi-menu-down" [hidden]="!mostrarFiltroTexto"></i>
					</div>
				</div>
			</mat-toolbar>
			<!-- Área de filtrado de la búsqueda -->
			<div [hidden]="mostrarFiltroTexto" (clickOutside)="onClickedOutside($event)" fxLayoutAlign="center" class="ar-buscar-filter-area">
				<mat-card fxFlex="55" fxFlex.sm="80" fxFlex.xs="100" fxFlex.md="65" class="ar-buscar-toolbar-filter ar-filter-slideInDown">
					<div fxLayoutAlign="start center" mat-card-image class="ar-busqueda-search-header">
						<span class="mat-caption ar-margin-left-sm ar-text-dark">Filtrado</span>
						<span fxFlex></span>
						<button type="button" class="ar-margin-right-xs" mat-icon-button (click)="CerrarFiltrosAutocompletar()">
							<mat-icon class="ar-text-dark">close</mat-icon>
						</button>
					</div>
					<div fxLayout="column">
						<div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
							<div fxFlex="20" fxFlex.sm="30" fxHide.xs>
								<span class="mat-caption ar-text-dark ar-margin-right-xs">Clases</span>
							</div>
							<div fxFlex="75" fxFlex.xs="100" fxLayoutAlign="start center">
								<arca-autocomplete fxFlex="100" #clasesAutoComplete Placeholder="Seleccione una clase" [Source]="catalogoClases"
								 (ItemSeleccionado)="SeleccionarClase($event);">
								</arca-autocomplete>
								<button type="button" class="ar-margin-right-xs" mat-icon-button matTooltip="Limpiar clases" (click)="LimpiarClasesDelFormulario()">
									<mat-icon class="ar-text-dark">close</mat-icon>
								</button>
							</div>
						</div>
						<div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
							<div fxFlex="20" fxFlex.sm="30" fxHide.xs>
								<span class="mat-caption ar-text-dark ar-margin-right-xs">Subclases</span>
							</div>
							<div fxFlex="75" fxFlex.xs="100" fxLayoutAlign="start center">
								<arca-autocomplete [Disable]="!claseSeleccionado" fxFlex="100" #subClasesAutoComplete Placeholder="Seleccione una subclase"
								 [Source]="catalogoSubClases" (ItemSeleccionado)="SeleccionarSubClase($event);">
								</arca-autocomplete>
								<button type="button" class="ar-margin-right-xs" mat-icon-button matTooltip="Limpiar subclases" (click)="LimpiarSubclaseDelFormulario()">
									<mat-icon class="ar-text-dark">close</mat-icon>
								</button>
							</div>
						</div>
						<div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
							<div fxFlex="20" fxFlex.sm="30" fxHide.xs>
								<span class="mat-caption ar-text-dark ar-margin-right-xs">Grupos</span>
							</div>
							<div fxFlex="75" fxFlex.xs="100" fxLayoutAlign="start center">
								<arca-autocomplete [Disable]="!subClaseSeleccionado" fxFlex="100" #gruposAutoComplete Placeholder="Seleccione un grupo"
								 [Source]="catalogoGrupos" (ItemSeleccionado)="SeleccionarGrupo($event)">
								</arca-autocomplete>
								<button type="button" class="ar-margin-right-xs" mat-icon-button matTooltip="Limpiar grupos" (click)="LimpiarGruposDelFormulario()">
									<mat-icon class="ar-text-dark">close</mat-icon>
								</button>
							</div>
						</div>
					</div>
					<mat-card-actions>
						<span fxFlex></span>
						<button type="button" mat-button class="ar-text-dark" (click)="btnClear()">Restablecer</button>
						<button type="button" mat-raised-button color="primary" (click)="Buscar()" [disabled]="!(frmArticulos.controls.txtFiltro.valid)">Buscar</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</form>
		<!-- Área de selección múltiple -->
		<div fxLayout="column" fxFlex>
			<div class="ar-buscar-multiple-container" fxLayout="row">
				<!-- Área de chips de filtro por categoría -->
				<div class="ar-buscar-chips-area">
					<div class="ar-buscar-parents" fxLayoutAlign="center start" fxLayout="row">
						<div #items class="items ar-padding-right-sm ar-padding-left-sm" arcaDragScroll>
							<!--Chips de ingredientes sellecionados-->
							<div class="item" *ngFor="let item of itemSeleccionado; let idx=index;">
								<mat-chip-list>
									<mat-chip class="ar-buscar-chips ar-margin-right-xs">
										{{item.descripcion | slice:0:1 | uppercase }}{{ item.descripcion | slice:1 | lowercase}}
										<mat-icon matChipRemove class="ar-text-primary-white" (click)="QuitarItemSeleccionado(idx)">cancel</mat-icon>
									</mat-chip>
								</mat-chip-list>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Área de listado de catálogos -->
			<perfect-scrollbar fxFlex class="ar-content">
				<div fxLayoutAlign="center">
					<div fxLayout="column" fxFlex="70" fxFlex.xs="95" fxFlex.sm="95" fxFlex.md="90">
						<div fxLayout="column" class="ar-margin-top-sm ar-padding-bottom-lg">
							<!-- Lista de salas con avatar -->
							<div class="ar-catalogos-expansion-header" fxLayoutAlign="start center" *ngFor="let item of articulosSIGES; let idx=index;"
							 (click)="SeleccionarItem(item, idx)">
								<!-- Avatar circular -->
								<div>
									<div class="ar-catalogos-avatar ar-inactivo">
										{{item.descripcion.substring(0,1)}}
									</div>
								</div>
								<div fxLayout="column">
									<div fxLayout="row" fxLayoutAlign="start center">
										<span class="ar-catalogos-text-descripcion"> {{item.codigo}} </span>
									</div>
									<div fxLayout="row" fxLayoutAlign="start center">
										<span class="ar-catalogos-text-header"> {{item.descripcion | slice:0:1 | uppercase }}{{
											item.descripcion | slice:1 | lowercase}}</span>
									</div>
								</div>
								<span fxFlex></span>
								<!-- Botón de navegar -->
								<button mat-icon-button color="primary">
									<mat-icon aria-label="Seleccionar" class="ar-text-primary-white">navigate_next</mat-icon>
								</button>
							</div>
						</div>
						<!--Mensaje vacio-->
						<div *ngIf="mostrarInfoBusqueda" fxLayout="row" fxLayoutAlign="center center" class="ar-margin-percentage-xs">
							<div fxLayout="column" fxLayoutAlign="center center">
								<i class="material-icons ar-text-secondary-white ar-icon-xmd">announcement</i>
								<span class="mat-body-1 ar-text-secondary-white ar-margin-top-xs">
									Filtrar categorías y buscar artículo
								</span>
							</div>
						</div>
						<!--Mensaje articulos no encontrado-->
						<div *ngIf="mostrarInfoNoEncontrado" fxLayout="row" fxLayoutAlign="center center" class="ar-margin-percentage-xs">
							<div fxLayout="column" fxLayoutAlign="center center">
								<i class="material-icons ar-text-secondary-white ar-icon-xmd">help_outline</i>
								<span class="mat-body-1 ar-text-secondary-white ar-margin-top-xs">
									Artículo no encontrado
								</span>
							</div>
						</div>
						<!--Mensaje error en la búsqueda-->
						<div *ngIf="mostrarInfoError" fxLayout="row" fxLayoutAlign="center center" class="ar-margin-percentage-xs">
							<div fxLayout="column" fxLayoutAlign="center center">
								<i class="material-icons ar-text-secondary-white ar-icon-xmd">sms</i>
								<span class="mat-body-1 ar-text-secondary-white ar-margin-top-xs">
									Digitar 3 caracteres como mínimo
								</span>
							</div>
						</div>
					</div>
				</div>
			</perfect-scrollbar>
		</div>
	</div>
