@import "styles.scss";
/*------------------------------------------------------------------
[Master Stylesheet /asegurados/SIGES]

Proyecto:	arca Core
Version:	1.1
Fecha de creación:	04/2018
Asignado a:	Adrián Fallas. afallasp@ccss.sa.cr (diseño), Joseph Arias.jariass@ccss.sa.cr (diseño)
Desarrollo: Centro de Gestión Informática
Centro: Hospital San Vicente de Paúl
Cliente:	Caja Costarricense de Seguro Social

Modificación: 09/2018 Adrián Fallas (afallasp@ccss.sa.cr) (diseño)

-------------------------------------------------------------------*/

/* Estilos de la vista general */

.ar-buscar-page {
	padding-top: 0;
	height: 100%;
	font-family: Roboto;
	background-color: #2D3047 !important;
}

/* Toolbar de área de búsqueda */

.ar-buscar-titular {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	color: rgba(255, 255, 255, 0.54);
}

.ar-search-toolbar {
	background-color: #2D3047 !important;
	height: 74px;
}

/* Estilos para dar diseño a la barra de busqueda de ítems */

.ar-search-bar {
	background: #2D3047 !important;
	-webkit-border-radius: 4px;
	border-radius: 1px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	z-index: 10;
}

/* Selección múltiple */

.ar-buscar-multiple-container {
	position: relative;
	width: 100%;
	height: 64px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	margin: 10px 0 0 0;
	overflow: hidden;
}

/* Estilos para dar diseño a la barra de búsqueda de ítems */

.ar-buscar-search {
	background: rgba(255, 255, 255, 0.16);
	-webkit-border-radius: 25px;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 16px;
	margin-bottom: 16px;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	height: 48px;
	color: #f5f5f5;
}

.ar-buscar-search:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 9px rgba(0, 0, 0, 0.16);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	/* border-bottom: 1px solid rgba(255, 255, 255,0.21); */
}

/* Cambio de colores del input */

input:focus {
	color: white
}

input::-webkit-input-placeholder {
	color: #999;
}

input:focus::-webkit-input-placeholder {
	color: white;
}

/* Firefox < 19 */

input:-moz-placeholder {
	color: #999;
}

input:focus:-moz-placeholder {
	color: white;
}

/* Firefox > 19 */

input::-moz-placeholder {
	color: #999;
}

input:focus::-moz-placeholder {
	color: white;
}

/* Internet Explorer 10 */

input:-ms-input-placeholder {
	color: #999;
}

input:focus:-ms-input-placeholder {
	color: white;
}

/* Botón tipo menú en la barra de búsqueda */

.ar-search-bar-menu {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.54) !important;
	border: 0;
	margin-right: 0;
	margin-left: 0;
	display: inline-block;
	outline: none;
	margin: 0 6px 0px 2px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 25px;
	height: 25px;
}

.ar-search-bar-menu:hover {
	background-color: rgba(255, 255, 255, 0.24) !important;
	color: rgba(0, 0, 0, 0.54) !important;
}

.ar-search-bar-menu i {
	margin-top: -0.13em;
}

/* Input de barra de búsqueda */

.ar-buscar-input-search {
	border: none;
	font: normal 14px Roboto, sans-serif;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
	height: 44px;
	outline: none;
	padding: 0;
	width: 100%;
	background: transparent;
}

/* Listado de resultados de la búsqueda */

.ar-buscar-expansion-header {
	cursor: pointer;
	height: 74px;
	padding: 15px;
	border-radius: 2px;
	outline: 0 !important;
}

.ar-buscar-expansion-header:hover {
	background-color: rgba(0, 0, 0, 0.04) !important;
	cursor: pointer;
	border-radius: 2px;
}

/* Cambio de color del círculo del avatar */

.ar-buscar-expansion-header:hover .ar-buscar-avatar {
	background-color: #f57c00 !important;
}

.ar-inactivo {
	background-color: #9C9AA4 !important;
}

.ar-buscar-avatar {
	font-family: 'Mada', sans-serif;
	color: rgba(0, 0, 0, 0.87);
	border-radius: 0.9em;
	-moz-border-radius: 0.9em;
	-webkit-border-radius: 0.9em;
	display: inline-block;
	font-weight: bold;
	line-height: 1.9em;
	margin-right: 24px;
	text-align: center;
	width: 1.9em;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}

/* Texto los item de lalista de catálogos */

.ar-buscar-text-header {
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	-webkit-font-smoothing: antialiased;
}

.ar-buscar-text-descripcion {
	font-family: 'Mada', sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #f57c00;
	-webkit-font-smoothing: antialiased;
}

/* Área de filtro de nacional, extranjero e indocumentado */

.ar-buscar-options {
	padding: 15px 0 0 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ar-buscar-filter-group {
	padding: 0 0.5em;
	position: relative;
	display: inline-block;
}

.ar-buscar-filter-group-item {
	position: relative;
	display: inline-block;
}

.ar-buscar-filter-group label {
	cursor: pointer;
	font-size: 0.9em;
	margin: 0 0.5em;
	color: #9E9E9E;
	transition: color 600ms ease;
	width: 10% !important;
	-webkit-font-smoothing: antialiased;
}

/* Línea de opción */

.ar-buscar-filter-group .underline {
	position: absolute;
	bottom: -0.15em;
	left: 1em;
	height: 0.15em;
	background: #f57c00;
	transition: 600ms ease;
}

.ar-buscar-filter-group .nacional {
	left: 1em;
	width: 5.7em;
}

.ar-buscar-filter-group .extranjero {
	left: 8em;
	width: 4.4em;
}

.ar-buscar-filter-group .indocumentado {
	left: calc(100% - 2.3em - 6.3em);
	width: 7.6em;
}

/* Toolip */

.ar-buscar-tooltip {
	display: inline;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	perspective: 500px;
}

.ar-buscar-tooltip:hover {
	cursor: pointer;
}

.ar-buscar-tooltip:hover .ar-buscar-tooltip-content {
	-webkit-transform: translate3d(-50%, -10%, 0);
	-moz-transform: translate3d(-50%, -10%, 0);
	-ms-transform: translate3d(-50%, -10%, 0);
	-o-transform: translate3d(-50%, -10%, 0);
	transform: translate3d(-50%, -10%, 0);
	opacity: 1;
	pointer-events: auto;
}

.ar-buscar-tooltip-content {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	transition: all 200ms ease;
	-webkit-transform: translate3d(-50%, 0%, 0);
	-moz-transform: translate3d(-50%, 0%, 0);
	-ms-transform: translate3d(-50%, 0%, 0);
	-o-transform: translate3d(-50%, 0%, 0);
	transform: translate3d(-50%, 0%, 0);
	-webkit-transform-origin: 0 10px;
	-moz-transform-origin: 0 10px;
	-ms-transform-origin: 0 10px;
	-o-transform-origin: 0 10px;
	transform-origin: 0 10px;
	background-color: #22252E;
	border-radius: 2px;
	color: rgba(255, 255, 255, 0.87);
	display: block;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	opacity: 0;
	padding: 5px 20px;
	pointer-events: none;
	position: absolute;
	text-align: left;
	bottom: -90%;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

.ar-buscar-tooltip-content:before {
	border-color: transparent;
	border-bottom-color: #22252E;
	border-style: solid;
	border-width: 10px;
	content: ' ';
	display: block;
	height: 0;
	left: 25%;
	margin-left: -10px;
	position: absolute;
	bottom: 42px;
}

.ar-buscar-tooltip-content:after {
	content: ' ';
	display: block;
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 100%;
	height: 20px;
}

.ar-buscar-tooltip-content:hover {
	-webkit-transform: rotateX(0deg) translate3d(-50%, -10%, 0);
	-moz-transform: rotateX(0deg) translate3d(-50%, -10%, 0);
	-ms-transform: rotateX(0deg) translate3d(-50%, -10%, 0);
	-o-transform: rotateX(0deg) translate3d(-50%, -10%, 0);
	transform: rotateX(0deg) translate3d(-50%, -10%, 0);
	opacity: 1;
	pointer-events: auto;
}
