@import "styles.scss";
/*------------------------------------------------------------------
[Master Stylesheet /core/login/inicio-sesion.component.scss]

Proyecto:	arca Core
Version:	1.2
Fecha de creación:	07/2017
Fecha de Modificación: 11/2017
Asignado a:	Joseph Arias (jariass@ccss.sa.cr)(diseño); Adrian Fallas (afallasp@ccss.sa.cr) (diseño)
Desarrollo: Centro de Gestión Informática
Centro: Hospital San Vicente de Paúl
Cliente:	Caja Costarricense de Seguro Social
-------------------------------------------------------------------*/

/* ----------------------------------------------------------------
Fecha de Modificación: 24/11/2017
Adrian Fallas (afallasp@ccss.sa.cr) (diseño) 
------------------------------------------------------------------- */

html {
  height: 100%;
  font-family: Roboto;
  background-color: #0D1B2A !important;
  background-image: src("./assets/arcaLogin.svg");
}

.ar-login-progress {
  height: 5px;
}

.ar-login-input {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.ar-login-credits {
  font-size: 0.65em;
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.56);
}

.ar-login-background {
  background-color: #fff !important;
}

.mat-step-header {
  pointer-events: none !important;
}

// Elimina el control del stepper

// ::ng-deep .mat-horizontal-stepper-header-container {
//   display: none !important;
// }
