<!-- *************************************************************
[Master /core/login/inicio-sesion.component.html]

Proyecto:	arca Core
Version:	1.2
Fecha de creación:	07/2017
Fecha de modificación: 11/2017
Asignado a:	Joseph Arias (jariass@ccss.sa.cr)(diseño);
Desarrollador: Dagoberto Gómez Jiménez (dgomezj@ccss.sa.cr)
Desarrollo: Centro de Gestión Informática.
Centro: Hospital San Vicente de Paúl
Cliente:	Caja Costarricense de Seguro Social
*************************************************************-->
<!--  *************************************************************
Fecha de modificación: 24/11/2017
Adrian Fallas (afallasp@ccss.sa.cr) (diseño) 
 ************************************************************-->

<html fullscreen class="ar-theme-dark">
<div class="ar-login-progress">
	<mat-progress-bar mode="indeterminate" *ngIf="esCargando"></mat-progress-bar>
</div>
<!-- Etiqueta flotante para indicar el ambiente actual -->
<div *ngIf="ambienteActual" class="ar-label">
	<div class="ar-label-container">
		<div fxLayout="row" fxLayoutAlign="start center">
			<div class="ar-elevation-03 icon" fxLayoutAlign="center center">
				<i class="mdi mdi-alert ar-icons-sm"></i>
			</div>
			<div class="text ar-elevation-03 ar-margin-left-sm" fxLayoutAlign="center center">
				<span class="ar-color-54">AMBIENTE DE {{ambienteActual}}</span>
			</div>
		</div>
	</div>
</div>
<div class="ar-margin-top-md" fxLayoutAlign="center">
	<div fxFlex="30" fxFlex.xs="95" fxFlex.sm="75" fxFlex.md="45" fxLayout="column">
		<div fxLayout="column">
			<mat-card fxFlex class="ar-login-background">
				<div fxLayout="column">
					<div class="ar-margin-top-none ar-margin-right-none">
						<img mat-card-image [src]="UrlWebkit + '/images/login/arcaLogin.svg' | safeURL"
							alt="Imagen principal de login">
					</div>
				</div>
				<div fxLayout="column">
					<div class="ar-margin-top-md">
						<form class="ar-form-inicio-sesion ar-margin-left-sm ar-margin-right-sm"
							[formGroup]="frmInicioSesion" (ngSubmit)="Validar()">
							<mat-horizontal-stepper class="ar-login-background">
								<mat-step>
									<ng-template matStepLabel>
										<span fxHide.xs>Usuario</span>
									</ng-template>
									<mat-form-field class="ar-login-input">
										<input matInput autofocus formControlName="usuario" autocomplete="off"
											(input)="RestablecerVistaFormulario()" placeholder="Nombre de usuario">
										<mat-error>
											Usuario es
											<strong>requerido.</strong>
										</mat-error>
									</mat-form-field>
									<div fxLayout="row" fxLayoutAlign="end center">
										<button class="ar-margin-bottom-xs" mat-raised-button type="button"
											color="primary" matStepperNext
											[disabled]="frmInicioSesion.controls.usuario.invalid"
											(click)="ObtenerUnidadesProgramaticas()">Siguiente</button>
									</div>
								</mat-step>
								<mat-step>
									<ng-template matStepLabel>
										<span fxHide.xs>U.P.</span>
									</ng-template>
									<div class="ar-login-input">
										<arca-autocomplete Placeholder="Unidades programáticas" #unidadesAutoComplete
											[Source]="unidadesProgramaticas"
											(ItemSeleccionado)="SeleccionarUnidadProgramatica($event)"
											[Disable]="disableAuto"></arca-autocomplete>
									</div>
									<div fxLayout="row" fxLayoutAlign="end center">
										<button class="ar-margin-bottom-xs ar-margin-right-xs" mat-raised-button
											type="button" matStepperPrevious>Anterior</button>
										<button class="ar-margin-bottom-xs" mat-raised-button type="button"
											color="primary" matStepperNext
											[disabled]="!(upSeleccionada)">Siguiente</button>
									</div>
								</mat-step>
								<mat-step>
									<ng-template matStepLabel>
										<span fxHide.xs>Contraseña</span>
									</ng-template>
									<mat-form-field fxFlex class="ar-login-input">
										<input fxFlex matInput autocomplete="off" placeholder="Contraseña"
											type="password" formControlName="clave">
										<mat-error>
											Ingrese los datos de la contraseña.
										</mat-error>
									</mat-form-field>
									<div fxLayout="row" fxLayoutAlign="end center">
										<button class="ar-margin-bottom-xs ar-margin-right-xs" mat-raised-button
											type="button" matStepperPrevious>Anterior</button>
										<button class="ar-margin-bottom-xs" mat-raised-button color="primary"
											type="submit"
											[disabled]="!(upSeleccionada && frmInicioSesion.controls.clave.valid)">Ingresar</button>
									</div>
								</mat-step>
							</mat-horizontal-stepper>
						</form>
					</div>
				</div>
			</mat-card>
		</div>
	</div>
</div>
<div fxLayoutAlign="center" class="ar-margin-top-xs">
	<span class="ar-login-credits">
		<i class="mdi mdi-hexagon"></i> Desarrollo y diseño. C.G.I. del Hospital San Vicente de Paúl para la C.C.S.S. ©
		2017-{{annoActual.getFullYear()}} </span>
</div>

</html>
