@import "styles.scss";
.ar-reports-page {
	padding-top: 0;
	height: 100%;
	font-family: Roboto;
	background-color: #f3f5f7 !important;
}

/* Toolbar principal */

.ar-reports-toobar {
	background-color: #162330;
}
