<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('pages/head'); %>
</head>

<body class="container">

    <header>
        <%- include('pages/header'); %>
    </header>

    <main>
        <%- include('pages/home_main'); %>
    </main>

    <footer>
        <%- include('pages/footer'); %>
    </footer>

</body>

</html>