<!--Componente SIDENAV para el módulo -->
<arca-sidenav>
    <!--Menú de items personalizado para el módulo actual-->
    <menu class="ar-sidenav-menu">
        Ejemplo ITEM-->
        <li fxLayout="row" fxLayoutAlign="start center">
            <div class="ar-sidenav-menu-icon">
                <i class="material-icons">extension</i>
            </div>
            <div class="ar-sidenav-menu-item" fxLayoutAlign="start center">
                <span>Administración</span>
            </div>
        </li>
        <!-- Ejemplo linea separación de items -->
        <div class="ar-sidenav-line"></div>
    </menu>

    <!--Viewer para las rutas del módulo actual-->
    <visor>
        <router-outlet></router-outlet>
    </visor>
</arca-sidenav>
