<!-- ****************************************************************
[Master Stylesheet /main/home]

Proyecto:			Bitzú RPM
Version:			1.0
Fecha de creación:	05/2021
Asignado a:			Equipo Bitzú RPM
Desarrollo: 		Tecnologías de Información y Comunicaciones
Unidad: 			Plan de Innovación
Cliente:			Caja Costarricense de Seguro Social

Referencia iconos -> https://fontawesome.com/icons?d=gallery
**************************************************************** -->

<html fxLayout="column" fullscreen class="ar-background">
<div fxFlex fxLayout="column" layout class="ar-page">
    <perfect-scrollbar fxFlex class="ar-content">
        <div fxLayoutAlign="center">
            <div fxLayout="column" fxFlex="90" fxFlex.xs="90" fxFlex.sm="90" fxFlex.md="90">
                <!-- Contenedor de accesos de componentes -->
                <div fxLayout="row" fxFlex fxLayoutAlign="center">
                    <div fxFlex>
                        <!-- Área de tarjetas de acceso a los componentes  -->
                        <div fxLayoutWrap fxLayout="row" class="ar-core-card-area ar-margin-top-sm" fxLayoutAlign="start start">
                            <ng-container>
                                <!-- Alta de material y servicio -->
                                <div [@apps]="'fadeIn'" class="ar-core-card" routerLink="./alta" routerLinkActive="active">
                                    <div fxLayout="column">
                                        <div fxLayout="column" fxLayoutAlign="space-between start" matRipple class="ar-core-card-item ar-background-card">
                                            <i class="fas fa-user-plus ar-color-54 ar-icons-sm"></i>

                                            <p class="ar-color-54 ar-core-card-text">Alta</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modificación de material y servicio -->
                                <div [@apps]="'fadeIn'" class="ar-core-card" routerLink="/bitzu/main/rpm/modificar" routerLinkActive="active">
                                    <div fxLayout="column">
                                        <div fxLayout="column" fxLayoutAlign="space-between start" matRipple class="ar-core-card-item ar-background-card">
                                            <i class="fas fa-user-edit ar-color-54 ar-icons-sm"></i>
                                            <p class="ar-color-54 ar-core-card-text">
                                                Modificar
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Baja de material y servicio -->
                                <div [@apps]="'fadeIn'" class="ar-core-card" routerLink="/bitzu/main/rpm/baja" routerLinkActive="active">
                                    <div fxLayout="column">
                                        <div fxLayout="column" fxLayoutAlign="space-between start" matRipple class="ar-core-card-item ar-background-card">
                                            <i class="
                                                        fas
                                                        fa-user-times
                                                        ar-color-54 ar-icons-sm
                                                    "></i>
                                            <p class="ar-color-54 ar-core-card-text">Baja</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Solicitud de acceso a material y servicio -->
                                <div [@apps]="'fadeIn'" class="ar-core-card" routerLink="/bitzu/main/rpm/materiales" routerLinkActive="active">
                                    <div fxLayout="column">
                                        <div fxLayout="column" fxLayoutAlign="space-between start" matRipple class="ar-core-card-item ar-background-card">
                                            <i class="
                                                        fas
                                                        fa-user-check
                                                        ar-color-54 ar-icons-sm
                                                    "></i>
                                            <p class="ar-color-54 ar-core-card-text">Acceso</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </perfect-scrollbar>
    <!-- Footer -->
    <app-footer fxFlexOffset="auto">
        <div class="ar-footer-bar ar-background-card" fxLayout="row">
            <div fxFlex fxLayoutAlign="start center" class="ar-footer-bar-container">
                <div fxFlex fxLayoutAlign="center center">
                    <div fxLayout="row" fxFlex="90" fxFlex.sm="90" fxFlex.md="90" fxFlex.xs="90">
                        <button class="ar-footer-bar-button" mat-icon-button aria-label="RPM" matTooltip="RPM" routerLink="/bitzu/main/rpm">
                                <i
                                    class="
                                        fas
                                        fa-dot-circle
                                        ar-color-orange ar-icons-sm
                                        fa-rotate-90
                                    "
                                ></i>
                            </button>
                        <button class="ar-footer-bar-button ar-margin-left-sm" mat-icon-button aria-label="Solicitudes" matTooltip="Solicitudes" routerLink="/bitzu/admin">
                                <i class="fas fa-cogs ar-color-54 ar-icons-sm"></i>
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </app-footer>
</div>

</html>