/* ========================================================================
[Master Stylesheet /materiales-servicios-baja-editar.component.scss]

Proyecto: 			Bitzu RPM
Version:  			1.0
Fecha de creación:  07/2021
Asignado a: 		Bitzu RPM, colaboración de Adrián Fallas (afallasp@ccss.sa.cr) en diseño
Desarrollo: 		Tecnologías de Información y Comunicaciones
Unidad: 			Plan de Innovación
Cliente: 			Caja Costarricense de Seguro Social
======================================================================== */

@import 'styles.scss';
html {
    padding-top: 0;
    height: 100%;
    font-family: Roboto;
    overflow: hidden;
}

.ar-page {
    height: 100%;
    font-family: Roboto;
    overflow: hidden;
}
