@import "styles.scss";
/*------------------------------------------------------------------
[Master Stylesheet /core/login/inicio-sesion.component.scss]

Proyecto:	arca Core
Version:	1.2
Fecha de creación:	01/2018
Asignado a:	Adrian Fallas (afallasp@ccss.sa.cr) (diseño)
Desarrollo: Centro de Gestión Informática
Centro: Hospital San Vicente de Paúl
Cliente:	Caja Costarricense de Seguro Social
-------------------------------------------------------------------*/
 
html {
  height: 100%;
  font-family: Roboto;
  background-color: #2D3047 !important;
}

mat-toolbar { 
  background-color: #2D3047 !important;
}

.ar-login-progress {
  height: 5px;
}

.ar-login-input {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.ar-login-credits {
  font-size: 0.65em;
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.56)
}
