<!-- ****************************************************************
[Master Stylesheet /main/home]

Proyecto:	arca Core
Version:	1.1
Fecha de creación:	07/2017
Asignado a:	Adrian Fallas (afallasp@ccss.sa.cr) (diseño)
Desarrollo: Centro de Gestión Informática
Centro: Hospital San Vicente de Paúl
Cliente:	Caja Costarricense de Seguro Social

Rediseño:	11/2017
Asignado a:	Adrian Fallas (afallasp@ccss.sa.cr) (diseño)
Modificado:	06/2018

Referencia iconos -> https://fontawesome.com/icons?d=gallery
**************************************************************** -->

<!-- ar-core-background -->

<html fullscreen class="ar-background">
    <div fxLayout="row" fxLayout.xs="row" fxFlex="100" fxLayoutAlign="center">
        <perfect-scrollbar fxFlex class="ar-content">
            <div fxLayoutAlign="center">
                <div fxFlex="90" fxFlex.xs="95" fxFlex.sm="90" fxFlex.md="85">
                    <div fxLayout="row">
                        <!-- Área de acceso a módulos -->
                        <div fxLayout="row" fxFlex class="ar-margin-top-lg ar-padding-bottom-sm">
                            <div fxFlex>
                                <!-- Área de tarjetas de acceso a los componentes  -->
                                <div fxLayout="row" class="ar-core-card-area">
                                    <ng-container>
                                        <div [@apps]="'fadeIn'" class="ar-core-card">
                                            <div fxLayoutAlign="center center">
                                                <div
                                                    class="ar-core-card-item ar-background-card"
                                                    fxLayoutAlign="center center"
                                                >
                                                    <i
                                                        class="fa fa-paw ar-color-54 ar-icons-sm"
                                                    ></i>
                                                </div>
                                            </div>
                                            <div fxLayoutAlign="center center">
                                                <p class="ar-color-54 ar-core-card-text">Demo</p>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
    <!-- Barra flotante de acciones -->
    <div fxFlex class="ar-floating-bar" fxLayout="row">
        <div
            fxFlex
            fxLayoutAlign="center center"
            class="ar-floating-bar-container mat-elevation-z0"
        >
            <!-- Inicio (va en todos los home de cada módulo pero se puede exluir del home principal)-->
            <div
                class="ar-floating-bar-button"
                fxLayoutAlign="center center"
                matTooltip="Inicio"
                routerLink="/bitzu/main"
            >
                <i class="fad fa-hexagon ar-color-orange ar-icons-sm fa-rotate-90"></i>
            </div>
            <!-- Módulo administrador-->
            <div
                class="ar-floating-bar-button"
                fxLayoutAlign="center center"
                matTooltip="Administración"
                *arcaAccesoPermiso="'administracion'"
                routerLink="/bitzu/admin"
            >
                <i class="fad fa-lock ar-color-54 ar-icons-sm"></i>
            </div>
        </div>
    </div>
</html>
